<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <link rel="stylesheet" href="index.css">
    <script defer src="index.js"></script>
</head>
<body>
    
    <template id="resource-template">
        <span class="resource">
            <span class="name">{{ name }}: </span>
            <span class="amount">{{ amount }}</span>
        </span>
    </template>
    
    <template id="direction-template">
        <span class="direction fa fa-refresh" :class="classString" aria-hidden="true"></span>
    </template>

    <template id="user-template">
        <div>{{ name }}
            <li v-for="special in specials">
                <special :name="special"></special>
            </li>
        </div>
    </template>

    <template id="special-template">
        <div>{{ name }}</div>
    </template>

    <template id="login-template">
        <div class="login" :class="visible">
            <div class='blackout'></div>
            <form v-on:submit.prevent="send" class="login-form">
                <label for="login-text">Login</label>
                <input id="login-text" type="text" v-model="text">
                <input type="submit">
            </form>
        </div>
    </template>

    <template id="rooms-template">
        <div :class="visible">
            <ul>
                <li v-for="room in rooms">
                    <a href="#" v-on:click="joinRoom(room.name)">{{ room.name }}</a>
                    <div v-for="player in room.players">
                        {{ player.name }}
                    </div>
                        <!--
                        <li v-for="player in room.players">
                            <div>{{ player.name }}</div>
                        </li>-->
                </li>
            </ul>
            <form v-on:submit.prevent="send">
                <input type="text" v-model="text">
                <input type="submit">
            </form>
        </div>
    </template>

    <div id="app">
        <login></login>
        <rooms></rooms>
        <!--
        <div class="resources">
            <resource name="Wood" :amount="0"></resource>
            <resource name="Whool" :amount="0"></resource>
            <resource name="Brick" :amount="0"></resource>
            <resource name="Wheet" :amount="0"></resource>
            <resource name="Ore" :amount="0"></resource>
        </div>
        <direction></direction>

        <user name="Test #1"></user>-->

        
    </div>
</body>
</html>